@font-face {
  font-family: RaiderCrusader;
  src: url(./raidercrusadersemistraight.ttf);
}
.events-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  --num:-100px;
}
.events-grid {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap:10px;
  grid-template-columns: auto auto auto;
  align-items: left;
}
.events-grid .event-card:nth-child(even){
  align-self: flex-end;
}
@media only screen and (max-width: 780px) {
  .events-grid {
    /* grid-template-columns: auto auto; */
  }
}

.events-container h2,
.events-container h3 {
  background-color: rgba(0, 0, 0, 0.5);
  width: 80%;
  font-size: 2rem;
  font-family: "RaiderCrusader";
  text-align: center;
  padding: 0.5rem;
  border-radius: 10px;
}
.event-card {
  position: relative;
  width: 100%;
  /* aspect-ratio: 3/2; */
  max-width: 450px;
  border-radius: 20px;
  overflow: hidden;
  margin: 10px;
  backdrop-filter: blur(1px);
  background-color: rgba(0, 0, 0, 0.4);
}
@media only screen and (min-width: 500px){
  .event-card:not(.event-card:first-child):nth-child(2){
    top: var(--num);
  }
  .event-card:not(.event-card:first-child):nth-child(3){
    top: calc(var(--num)*2);
  }
  .event-card:not(.event-card:first-child):nth-child(4){
    top: calc(var(--num)*3);
  }
  .event-card:not(.event-card:first-child):nth-child(5){
    top: calc(var(--num)*4);
  }
  .event-card:not(.event-card:first-child):nth-child(6){
    top: calc(var(--num)*5);
  }
}

.event-poster {
  /* background: yellow; */
}
.event-poster img {
  /* content: url("./poster.jpg"); */
  width: 90%;
  /* height:30%; */
  aspect-ratio: 2/1;
  object-fit: fill;
  position: relative;
  left:5%;
  margin-top: 15px;
  /* padding: 10px; */
  border-radius: 5px;
}
.event-card .event-text {
  /* background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(0, 0, 0, 0.2) 50%,
    rgba(0, 0, 0, 0.8) 90%
  ); */
  /* position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;*/
  display: flex;
  flex-direction: column;
  /* justify-content: flex-start; */
  align-items: flex-start;
  /* font-size:1rem; */
  padding: 10px;
}
.event-text .event-title {
  font-size: 1.4rem;
  text-transform: uppercase;
  font-family: "RaiderCrusader";
  padding-left: 1.5rem;
}
.registerbtn {
  text-decoration: none;
  color: white;
  background-color: rgb(81, 0, 128);
  padding: 5px;
  border-radius: 10px;
  font-size: 1.2rem;
  align-self: flex-end;
}
/** popup */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(19.5px);

  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-card {
  display: flex;
}
@media only screen and (max-width: 500px) {
  .events-grid {
    grid-template-columns: auto;
  }
  .modal-card {
    flex-direction: column;
  }
}

.modal-content {
  background: #00000066;
  padding: 20px;
  border-radius: 5px;
  max-width: 80%;

  text-align: center;
  color: white;
}
.titleCloseBtn {
  display: flex;
  justify-content: flex-end;
}
.modal-title {
  font-size: 24px;
  font-family: "RaiderCrusader";
}

.modal-image {
  max-width: 40%;

  margin-bottom: 20px;
}
.modal-description {
  font-size: 16px;
  width: 100%;
}
.modal-description > h4 {
  width: 40%;
  font-size: 1.4rem;
  font-family: "RaiderCrusader";
}
