/* @media only screen and (min-width: 992px) {
  .navbar-container {
    max-height: 2.5rem;
  }
} */

@media screen and (max-width:320px) {
  .navbar {
    width: 70vw !important;
    max-height: unset !important;
  }
  
  .navbar img {
        max-height: 6rem !important;
        left: -1rem !important;
    }
}